@media(prefers-color-scheme: dark){
    :root {
        --primatu-background: #151437;
        --primary-text-color: #FFFFFF;
    }
    .header__nav-logo::before{
        content: url('../images/logo_dark.png');
    }
     body{
         background: var(--primatu-background);
     }
     .header__content-text, .header__toggler-icon, .main__about-description{
         color: var(--primary-text-color);
     }
     .main__about-content{
         background: var(--primatu-background);
     }
     .accordion-button.collapsed{
         background: var(--primatu-background) !important;
     }
     .main__works-link, .main__works-content{
         background: var(--primatu-background);
     }
     .main__works-link.active{
         color: var(--primatu-background);
     }
     .main__works-text{
         color: var(--primary-text-color);
     }
     .footer__link, .footer__contact{
         color: var(--primary-text-color);
     }
}
@media(max-width:992px){
    .header__nav-link, .header__nav-button{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .rectangle, .shape{
        display: none;
    }
    .main__about-content{
        margin-top: 30px;
    }
    .main__about-text{
        left: 240px;
        top: 0;
    }
    .main__about-img{
        width: 100%;
    }
    .accordion{
        margin-bottom: 25px;
    }
    .main__works-content{
        margin-top: 30px;
    }
    .main__works-name{
        margin-top: 20px;
    }
    .main__works-img{
        object-fit: contain;
    }
}
@media(max-width:475px){
    .main__about-text{
        left: 35px;
        top: -20px;
        padding: 20px;
        font-size: 16px;
    }
    .main__about-link{
        margin: 0 auto;
    }
    .main__about-title{
        line-height: 45px;
    }
}


@media(max-width:375px){
    .header__skills-title{
        font-size: 16px;
    }
    .footer__contact{
        font-size: 20px;
    }
}